<p>forgot-password works!</p>
<div class="forgot-password-container">
    <h2>Forgot Password</h2>
    <form (ngSubmit)="onSubmit()">
      <div>
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          [(ngModel)]="email"
          required
          placeholder="Enter your email"
        />
      </div>
  
      <div>
        <label for="newPassword">New Password</label>
        <input
          type="password"
          id="newPassword"
          name="newPassword"
          [(ngModel)]="newPassword"
          required
          placeholder="Enter new password"
        />
      </div>
  
      <button type="submit">Reset Password</button>
    </form>
  </div>
  